.App {
    display: grid;
    grid-template-areas:
            "header"
            "content";
    grid-template-rows: max-content auto;
    grid-gap: 1rem;
}

.header {
    font-size: 3em;
    justify-content: stretch;
}

.content {
}
