body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #111;
  color: #eee;
  padding: 1em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.mathGame {
  font-size: 4em;
  grid-area: content;
  
}
#eliTitle {
  display: grid;
  grid-template-areas:
  "title title title"
  "game record .";
  grid-template-columns: 3fr 2fr 1fr;
  grid-column-gap: 10px;
  grid-area: title;
}

#equationsEli {
  grid-area: game;
}

#scoringEli {
  grid-area: record;
}

#else {
  grid-area: .;
}